# /etc/systemd/system/qutebrowser.service
[Service]
User = lx
Group = lx
ExecStart = /usr/bin/qutebrowser

# minimal
ProtectSystem = strict
PrivateTmp = true
# we cannot set TemporaryFileSystem = /; use an empty dir here.
RootDirectory = /opt/qutebrowser-root
TemporaryFileSystem = /home/lx:uid=1000,gid=1000

# env:
# qutebrowser wrapper script
Environment = SANDBOXED_QUTEBROWSER=1
# x11
Environment = DISPLAY=:0.0
# fcitx
Environment = DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment = QT_IM_MODULE=fcitx GTK_IM_MODULE=fcitx XMODIFIERS=@im=fcitx

# lib and bin
BindReadOnlyPaths = /usr /dev /lib64 /bin
# rw required for qt lib.
BindPaths = /dev/shm

# disable su / sudo (though it does not work already)
InaccessiblePaths = /usr/bin/sudo /usr/bin/su
# font and network
BindReadOnlyPaths = /etc/fonts/ /etc/resolv.conf
# fcitx and network
BindReadOnlyPaths = /run/user/1000/bus /run/systemd/resolve/
# for X11. TODO: wayland?
BindReadOnlyPaths = /home/lx/.Xauthority
# sound requires additional setting.
# see https://wiki.archlinux.org/title/PulseAudio/Examples#Allowing_multiple_users_to_share_a_PulseAudio_daemon
BindReadOnlyPaths = /home/lx/.config/pulse/
BindReadOnlyPaths = /tmp/pulse-socket

# bind ~/.config/qutebrowser as rw is required, otherwise quickmark will fail.
BindPaths = /home/lx/.config/qutebrowser/
BindReadOnlyPaths = /home/lx/.config/qutebrowser/config.py /home/lx/.config/qutebrowser/userscripts/
# if rc.py is available, then mount it.
BindReadOnlyPaths = /home/lx/.config/qutebrowser/rc.py
# use separate history.
BindPaths = /home/lx/.local/share/qutebrowser-box/:/home/lx/.local/share/qutebrowser/

BindPaths = /home/lx/Downloads/
BindReadOnlyPaths = /home/lx/html/
BindReadOnlyPaths = /home/lx/.vimrc /home/lx/vimfiles/